.collection-item {
  display: flex;
  justify-content: space-between;
}

.material-icons {
  cursor: pointer;
  margin-right: 5px;
}

.vote-box {
  display: flex;
  align-items: center;
}

.active-user {
  color: green;
}

.user-item {
  cursor: pointer;
}

.errors { color: red; }
